*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', Meiryo, sans-serif, 'Segoe UI Emoji';
  font-size: 17px;
  line-height: 30px;
}
