---
import Layout from '../layouts/Layout.astro';
---

<Layout title="スキル・強み">
  <h1>スキル・強み</h1>
  <h2>Web 開発</h2>
  <ul>
    <li>HTML / CSS</li>
    <li>JavaScript / TypeScript</li>
    <li>Zod</li>
    <li>Vanilla Extract CSS</li>
    <li>Svelte</li>
    <li>React</li>
    <li>Vue.js</li>
  </ul>
  <h2>その他</h2>
  <ul>
    <li>Java</li>
    <li>Kotlin</li>
    <li>F#</li>
    <li>OCaml</li>
    <li>Haskell</li>
    <li>Rust</li>
    <li>Gleam</li>
  </ul>
</Layout>

<!--
---
layout: '../layouts/Layout.astro'
title: 'スキル・強み | Kodai のウェブサイト'
---

# スキル・強み

-   Java, C# をはじめとしたオブジェクト指向言語
-   JavaScript, TypeScript
    -   Node.js, Deno
-   RxJS
    -   Observable, Subject, Operator 等に対する理解
-   Zod
-   CSS
    -   `prefers-color-scheme` を用いたダークモード対応
    -   Flexbox, Grid Layout, Media/Container Query を活用したレスポンシブ対応
    -   CSS Modules を用いるための環境の設定
-   React
-   Redux, redux-thunk, redux-observable, redux-saga
-   Vue.js
-   Cycle.js
-   Svelte
-   Astro
-   Remix
-   Stylus (AltCSS)
-   Vanilla Extract CSS
-   Elm
    -   The Elm Architecture に沿った SPA 開発
-   OCaml
-   F#
    -   Fable を用いた Web フロントエンド / Node.js アプリケーション開発
-   Rust
    -   マルチスレッドプログラミング
    -   tokio を用いた非同期処理の実装
-   Gleam
-->
